@import "./font.css";

dialog::backdrop {
  background-color: #000c;
}

dialog {
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px;

  background: unset;
  margin-top: unset;
  margin-bottom: unset;
  border: unset;
  height: unset;
}

dialog[open] {
  display: flex;
}

dialog>* {
  color: var(--page-text-color, #4a4a4a);
  background-color: var(--dropdown-menu-bg, #fff);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
}

@media (min-width: 768px) {
  dialog {
    padding: 30px 0;
    --item-width: 600px;
  }
}

.result {
  padding: 15px;
  width: calc(var(--item-width, 100%) - 30px);
  overflow-y: scroll;
}

.controller {
  padding: 5px;
  width: calc(var(--item-width, 100%) - 10px);

  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.progress {
  flex-grow: 1;
}

.progress>* {
  padding: 0 2px;
}

a {
  text-decoration: none;
  color: var(--page-link-color, #5e8af7);
}

a:hover {
  color: var(--page-link-hover-color, #2d67f5);
}

button {
  cursor: pointer;
  /* <button>のdefault styleを消す */
  background: unset;
  color: unset;
  border: unset;
}

.copy,
.close {
  font-family: "Font Awesome 5 Free";
}

.navi {
  font-family: "AppIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.close {
  font-weight: 900
}

.reload {
  border: 1px solid;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  word-break: break-all;
}

/* 1.0以上 */
.task-list li:not([data-freshness^="-"]):not([data-freshness="0"]) {
  font-weight: bold;
}

.scheduler details li[data-status="done"] {
  opacity: 0.4;
}

.scheduler details li[data-status="expired"] {
  font-weight: bold;
}

:is([data-page-no="expired"], [data-page-no="errors"]) li {
  opacity: 1.0 !important;
}

.scheduler {
  --takker-scheduler-summary-meter-width: 10em;
}

.label {
  display: inline-block;
  font-size: 90%;
  padding: 0 3px;
}

.type {
  text-align: center;
  width: 2.5em;
  border: 1px solid;
  border-radius: 3px;
}

.freshness {
  text-align: right;
  width: 2.5em;
}

.start {
  text-align: right;
  width: 3em;
}

.duration {
  text-align: right;
  width: 3em;
}