.timeline-wrap {
    display: flex;
    flex-direction: column;

    --timeline-bg: var(--dropdown-menu-bg, #fff);
    --timeline-text-color: var(--page-text-color, #4a4a4a);
    --timeline-link-color: var(--page-link-color, #5e8af7);
    --row-header-width: 40px;
    --timeline-border-color: #888;
    --timeline-border: solid 1px var(--timeline-border-color);

    background-color: var(--timeline-bg);
    color: var(--timeline-text-color);



    .column-header {
        flex: auto;

        display: flex;
        flex-direction: row;

        position: relative;
        overflow: hidden;

        .corner {
            white-space: nowrap;
            flex: 0 0 var(--row-header-width);
            margin-left: 1px;
        }

        .cell {
            /* 伸縮可、全て同じ幅にする */
            flex: 1 1 1px;

            h2 {
                font-weight: 400;
                margin: 0;
                text-align: center;
                width: 100%;
            }
        }
    }

    .body {
        position: relative;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        align-items: stretch;
        overflow-y: scroll;
        scrollbar-width: none;

        .header-container {
            flex: 0 0 var(--row-header-width);

            .header {
                position: relative;
                box-sizing: border-box;
                margin-left: auto;

                .time {
                    position: relative;
                    height: 40px;
                    padding-right: 8px;
                    text-align: right;

                    span {
                        display: block;
                        position: relative;
                        top: -6px;
                        font-size: 10px;
                    }
                }
            }
        }

        .week-container {
            display: flex;
            align-items: flex-start;
            /* 伸縮可、全て同じ幅にする */
            flex: 1 1 1px;

            .week {
                min-width: 100%;
                flex: none;
                display: inline-flex;
                overflow: hidden;
                position: relative;

                .borders {

                    .border {
                        height: 40px;
                    }

                    .border::after {
                        content: "";
                        border-bottom: var(--timeline-border);
                        position: absolute;
                        width: 100%;
                        margin-top: -1px;
                        z-index: 3;
                        pointer-events: none;
                    }
                }

                .timeline {
                    flex: auto;
                    border-left: var(--timeline-border);
                    position: relative;

                    .indicator {
                        position: absolute;
                        /* --startは時単位 */
                        top: calc(var(--start) / 24 * 100%);
                        width: 100%;
                        height: 1px;
                        background-color: red;
                        z-index: 4;
                    }

                    .event {
                        position: absolute;
                        /* --startは時単位 */
                        top: calc(var(--start) / 24 * 100%);
                        /* --durationは分単位 */
                        height: calc(var(--duration) / 1440 * 100%);
                        outline: none;
                        --event-bg2: var(--timeline-text-color);
                        --event-bg: var(--timeline-bg);
                        --event-bg-ratio: 50%;
                        --event-color-ratio: 0%;
                        --event-border-color-ratio: 0%;
                        background-color:
                            color-mix(in srgb, var(--event-bg) var(--event-bg-ratio), var(--event-bg2));
                        color:
                            color-mix(in srgb, var(--event-bg) var(--event-color-ratio), var(--timeline-text-color));
                        border: var(--timeline-border);
                        border-color:
                            color-mix(in srgb, var(--event-bg) var(--event-border-color-ratio), var(--timeline-border-color));
                        border-radius: 4px;
                        z-index: 5;
                        overflow: hidden;
                        text-wrap: nowrap;
                        max-width: 100%;
                        text-overflow: ellipsis;
                    }

                    .event[data-status="done"] {
                        --event-bg-ratio: 90%;
                        --event-color-ratio: 50%;
                        --event-border-color-ratio: 50%;
                    }

                    .event[data-status="expired"] {
                        font-weight: bold;
                    }

                    a.event {
                        --event-bg2: var(--timeline-link-color);
                        text-decoration: none;
                    }
                }

                .timeline:first-child {
                    border-right: var(--timeline-border);
                }

            }
        }
    }
}

.wedget {
    position: absolute;
    top: 70px;
    left: 10px;
    max-width: 120px;
    border: solid 1px #888;
    border-radius: 4px;

    .controller {
        background-color: var(--dropdown-menu-bg, #fff);
        color: var(--page-text-color, #4a4a4a);
    }
}

@media(min-width: 1092px) {
    .wedget {
        width: calc((100% - 960px)/2)
    }
}